.shopping-item{
    height: 500px;
}

.shopping-container {
    display: flex;
    background-color: white;
}

.main-block {
    width: 50%;
    background-color: white;
}

.image-tank {
    display: flex;
    justify-content: center;
    align-items: center;
}

#buy-message {
    display: none;
}

.carousel-control-next, .carousel-control-prev {
    background-color: #7ac9d3;
    border-radius: 20px;
    height: 25px;
    width: 25px;

}

.alert {
    text-align: center;
    background-color: #7ac9d3;
    color: white;
}

.btn-outline-success {
    color: #ac9d3;
    background-color: transparent;
    background-image: none;
    border-color: gray;
}

.btn-outline-success {
    color: gray;
}

.btn-primary {
    background-color: #7ac9d3;
    border-color: #7ac9d3;
}
.recommended-item {
    transition: all 0.4s ease-in;
}
.fade-out{
    opacity: .25;
}